/* css resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  border: 2px dashed white;
  border-radius: 8px;
  width: 200px;
}

header {
  color: white;
  width: 100%;
  background-color: darksalmon;
  position: fixed;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  height: 2.75rem;
  align-items: center;
}
section#img {
  padding-top: 2.75rem;
  height: auto;
  width: 100%;
}

ul#dish-catalog {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  word-wrap: break-word;
  font-size: large;
  font-weight: bold;
  background-color: darksalmon;
  color: white;
}

li {
  width: 13rem;
}

section#recipe-banner {
  padding-top: 5rem;
  padding-bottom: 3rem;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: darksalmon;
  color: white;
}

section > img {
  width: 30%;
}

/* details page styles */
/* TODO: Detailed page styles */

section#recipe-banner {
  padding-top: 2.75rem;
  height: auto;
  width: 100%;
}

section#recipe-details {
  display: flex;
  padding-left: 25%;
}

div#ingredients-div {
  flex-grow: 1;
}

div#ingredients-div > h2 {
  display: flex;
  justify-content: right;
}

div#ingredients-div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li > p {
  display: flex;
  justify-content: right;
  gap: 0.25rem;
}

span.item {
  font-weight: bold;
}

div#recipe-divider {
  width: 2rem;
  background-color: white;
}

div#steps-div {
  display: flex;
  flex-grow: 5;
  flex-direction: column;
}

ol > li {
  display: flex;
  justify-content: left;
  gap: 0.25rem;
}
