/* css resets */
* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

img#loading {
  width: 100%;
  height: 100%;
}
img#cute {
  width : 100%;
}

html, body,
div#app, main,
div#map-container {
  height: 100%;
}

/*div {*/
/*  transition: <property> <duration> <timing-function> <delay>;*/
/*}*/
/**/
nav {
  color: black;
  width: 100%;
  position: fixed;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  height: 2.75rem;
  align-items: center;
  opacity: 1;
  transition: all 0.1s ease;
}
nav.init {
  height: 0;
  opacity: 0;
}

main.init {
  padding: 2.75rem 20% 0 20%;
  display: flex;
  flex-direction: column;
}
main {
  padding-top: 0;
}
main.detailed {
  flex-direction: row;
  padding: 2.75rem 10% 0 10%;
  align-items: center;
}
section#img {
  height: auto;
  width: 100%;
}

ul#dish-catalog {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  word-wrap: break-word;
  font-size: large;
  font-weight: bold;
  color: white;
}

section > img {
  width: 30%;
}

/* details page styles */
/* TODO: Detailed page styles */

section#recipe-banner {
  height: auto;
  width: 100%;
}

section#recipe-banner.detailed {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 85%;
}

div#h1-div {
  width: 100%;
  display: flex;
  justify-content: left;
}

div#h1-div>h1 {
  font-size: 60pt;
}


section#recipe-banner.detailed>img {
  width: 100%;
}

section#recipe-details {
  padding-left: 2rem;
  height: 85%;
  display: flex;
  /*justify-content: center;*/
  /*align-content: center;*/
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  overflow-x: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

section#recipe-details::-webkit-scrollbar {
  width: 0;
  height: 0;
}


div#ingredients-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div#ingredients-div > h2 {
  display: flex;
  justify-content: right;
}

div#ingredients-div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div#ingredients-div p {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

span.item {
  font-weight: bold;
}

div#steps-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.collapsed {
  visibility: collapse;
  max-height: 0;
}

ol > li {
  display: flex;
  justify-content: left;
  gap: 0.25rem;
}

div#main-menu-div {
  flex: 1;
  display: flex;
  justify-content: left;
}
button#main-menu {
  cursor: pointer;
  border: none;
  background: none;
}
/*button#main-menu {*/
/*  background-color: #e9967a;*/
/*  border: solid;*/
/*  border-radius: 50%;*/
/*  color: white;*/
/*  padding: 16px 22px;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  display: inline-block;*/
/*  font-size: 24px;*/
/*  transition-duration: 0.4s;*/
/*}*/
/*button#main-menu:hover {*/
/*  background-color: white;*/
/*  color: darksalmon;*/
/*}*/
/*button#search {*/
/*  background-color: #e9967a;*/
/*  border: none;*/
/*  color: white;*/
/*  padding: 16px 22px;*/
/*  text-align: center;*/
/*  text-decoration: underline;*/
/*  display: inline-block;*/
/*  font-size: 16px;*/
/*  transition-duration: 0.4s;*/
/*}*/
/*button#search:hover {*/
/*  background-color: white;*/
/*  color: darksalmon;*/
/*}*/

        /*<form id="search-box" aria-labelledby="search-box">*/
        /*  <input id="dish" type="text" name="dish" placeholder="Type any dish here!" />*/
        /*  <button>*/
        /*    <p>Saved</p>*/
        /*    <img src='/etc/search.png' alt='Search'>*/
        /*  </button>*/
        /*</form>*/
form#search-box {
  border-radius: 1rem;
  border-style: solid;
  padding: 5px 10px;
  height: 2rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input#dish {
  flex: 1;
  border-radius: 1rem;
  border: none;
}

input#dish::placeholder {
  margin-left: 2rem;
}

button#search {
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  background: none;
}

button#search>img {
  height: 1rem;
  width: 1rem;
}


div#save-div {
  flex: 1;
  display: flex;
  justify-content: right;
}
button#saved {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
button#saved>p {
  padding-bottom: 1px;
  font-weight: bold;
  font-size: 1rem;
}
button#saved>img {
  height: 1.5rem;
  width: 1.5rem;
}
